body {
  background-image: url(../images/7804.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: Roboto, sans-serif;
}

/* Global elements */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*Section*/
.section {
  padding-top: 94px;
  padding-bottom: 208px;
}

/*Page header*/
.page-header {
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/*Navigation*/
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.25;

  font-family: Raleway;
  color: #34547a;
}

.logo-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.1em;

  color: #e84f35;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 15px;
}
.header-item:last-child {
  margin-right: 0;
}

.header-link {
  display: inline-block;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  color: rgb(21, 122, 204);
}

/*Section work*/
.work-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  width: 270px;
  margin-top: 40px;
  margin-right: 30px;
}

.card-item:nth-child(4) {
  margin-right: 0;
}

.card-link {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.content-box {
  padding: 20px 28px;

  background-color: rgb(216, 216, 216);
}

.card-title {
  margin-bottom: 8px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #212121;
}

/*Footer page*/
.page-footer {
  padding-top: 50px;
  padding-bottom: 68px;

  background-color: #34547a;
}

.footer-logo {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.25;

  font-family: Raleway;
  color: #fff;
}
