body {
  background-image: url(../images/7804.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: Roboto, sans-serif;
}

/* Global elements */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*Section*/
.section {
  padding-top: 94px;
  padding-bottom: 209px;
}

/*Page header*/
.page-header {
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid black;
}

/*Navigation*/
.header-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;

  font-family: Raleway;
  color: #6c757d;
}

.logo-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.1em;

  color: #e84f35;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 10px;
}
.header-item:last-child {
  margin-right: 0;
}

/*Section work*/
.work-title {
  text-align: center;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-link {
  display: block;
}

.card-item {
  width: 270px;
  margin-top: 40px;
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-item:last-child {
  margin-right: 0;
}

.content-box {
  padding: 20px 28px;
}

.card-title {
  margin-bottom: 8px;
}

/*Footer page*/
.page-footer {
  padding-top: 50px;
  padding-bottom: 68px;

  background-color: #34547a;
}

.footer-link {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;

  font-family: Raleway;
  color: #fff;
}
